@tailwind base;
@tailwind components;
@tailwind utilities;

img {
    width: 100%;
}

.autowidth {
    font-size: 20px;
    font-weight: 900;
}

body {
    font-size: 16px;
}

.chat-messages .scrollableChildren::-webkit-scrollbar {
    width: 5px;
}

.chat-messages .scrollableChildren::-webkit-scrollbar-track {
    background: transparent;
}

.chat-messages .scrollableChildren::-webkit-scrollbar-thumb {
    background-color: rgba(103, 106, 108, 0.5);
    border-radius: 20px;
}

.check-icon {
    text-shadow: 0px 2px 0 #4fae4e
}

.truncateMultiline {
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
}

@layer components {
    .inlineForm {
        @apply flex mt-2 w-full justify-between items-center
    }
}